
@using Cartridges.Web.Models.ViewModel

@Html.Partial("_ModalHeader", new ModalHeader { Heading = "Удалить модель картриджа?" })

<div class="modal-body">
    <h2>Успешно!</h2>
</div>
@Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Удалить" })