@model BuildingViewModel
@using Cartridges.Web.Models.ViewModel
@using Cartridges.Web.Models

<form asp-action="AddBuilding" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Создать сооружения" })
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <span asp-validation-for="Name"></span><br />
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <span asp-validation-for="OtherNames"></span><br />
                    <label asp-for="OtherNames"></label>
                    <input asp-for="OtherNames" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>

