@model AccountViewModel
@using Cartridges.Web.Models.ViewModel
@using Cartridges.Web.Models.AccountModels

<form asp-action="EditUser" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Редактировать пользователя" })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-12">
                <input asp-for="Id" />
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>